body {
 background-color: #F3F4F6;
 color: #333333;
}

h1 {
 text-align: center;
 color: #555555;
}

.ptext {
  text-decoration: underline #FF4500;
  font-size: 24px;
}

h2 {
  text-decoration: overline;
  color: #6BBE92;
}

h3 {
  text-decoration: line-through;
  color: #D83367;
}

h4 {
  text-decoration: underline overline;
  color: #149EF2;
}