body {
 background-color: #000A23;
 font-size: 24px;
 color: #ffffff;
}

h1 {
 color: #FFFFFF; /* white colored text */
 text-shadow: 4px 4px 4px #4296CE; 
 font-size: 4rem;
}

p {
 font-size: 18px;
}

.double {
 text-decoration: double underline #E67112;
}

.dotted {
 text-decoration: underline dotted #2A9D8F;
}

.dashed {
 text-decoration: dashed underline #E76F51;
}

.wavy {
 text-decoration: wavy underline #62767E;
}

.ptext {
 text-decoration: underline #FF4500;
 font-size: 24px;
}

.capitalize { 
 text-transform: capitalize; 
}

.uppercase { 
 text-transform: uppercase; 
}

.lowercase { 
 text-transform: lowercase; 
}

h2 {
 text-decoration: overline;
 color: #6BBE92;
}

h3 {
 text-decoration: line-through;
 color: #D83367;
}

h4 {
 text-decoration: underline overline;
 color: #149EF2;
}

#font-georgia {
 font-family: Georgia;
}

#font-arial {
 font-family: Arial;
}

#font-courier {
 font-family: "Courier New";
}

#font-comic {
 font-family: "Comic Sans MS", cursive;
}

#font-tahoma {
  font-family: Tahoma;
}

#font-lucida {
  font-family: Lucida Console;
}

#font-times {
  font-family: Times New Roman;
}

#font-trebuchet {
  font-family: Trebuchet MS;
}

#font-verdana {
  font-family: Verdana;
}